/* General styling for HTML and body */
html {
    height: 100%;
}

body {
    /* Background image with cover size */
    background: url('/media/soup.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); /* Full height minus 164 pixels */
    color: #555; /* Default text color */
    font-family: 'Lato'; /* Default font family */
}

/* Logo styling */
h2.logo-font.text-black.my-0 {
    font-size: 3em; /* Font size for logo */
}

/* Header text */
header #text {
    z-index: 1; /* Ensure text is above background */
    color: white; /* Text color */
}

/* Styling for icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

div.d-flex.justify-content-center.small.text-warning.mb-2 {
    font-size: 1.5em;
}

/* Blog section styling */
div.blog {
   margin-top: 12rem; /* Margin from the top */
   color: black; /* Text color */
}

/* Additional logo font styling */
.logo-font {
    text-transform: uppercase; /* Uppercase text */
    font-family: Arial; /* Font family */
}

/* Styling for main logo link */
.main-logo-link {
    width: fit-content;
}

/* Styling for shop now button */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Styling for posts */
div.post.block {
margin-top: 200px;
margin-left: 50px;
margin-right: 50px;
background-color: gray;
padding: 100px;
color: #000;
}

/* Read more link blog*/
a {
    color:white;
}

/* extended text blog*/
p.extend {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: gray;
    padding: 100px;
color: #000;
}

/* Button styling */
.btn-black {
    background: black;
    color: white;
}

/* Outline button styling */
.btn-outline-black {
    background: white;
    color: black !important; /* Override link colors */
    border: 1px solid black;
}

/* Button hover, active, and focus states */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* Text color class */
.text-black {
    color: #000 !important;
}

/* Border color class */
.border-black {
    border: 1px solid black !important;
}

/* Background color class */
.bg-black {
    background: #000 !important;
}

/* Overlay styling */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Category badge styling */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Back to top button styling */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Styling for links */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Placeholder text color */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Styling for message containers */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* Custom toast styling */
.custom-toast {
    overflow: visible;
}

/* Toast cap styling */
.toast-capper {
    height: 2px;
}

/* Arrow styling */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Arrow color classes */
.arrow-primary {
    border-bottom-color: #007bff !important;
}
.arrow-secondary {
    border-bottom-color: #6c757d !important;
}
.arrow-success {
    border-bottom-color: #28a745 !important;
}
.arrow-danger {
    border-bottom-color: #dc3545 !important;
}
.arrow-warning {
    border-bottom-color: #ffc107 !important;
}
.arrow-info {
    border-bottom-color: #17a2b8 !important;
}
.arrow-light {
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Bag notification wrapper styling */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media queries for responsiveness */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* Margin top */
    color: #6c757d; /* Text color */
}

.allauth-form-inner-content input {
    border-color: #000; /* Border color */
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4; /* Placeholder text color */
}

/* Button and input styling for Allauth forms */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* Button styling */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* Standard bootstrap button transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Button hover state */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

/* Link styling for Allauth forms */
.allauth-form-inner-content a {
	color: #17a2b8; /* Text color */
}

/* Product form styling */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Custom checkbox styling */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Media query for fixed top navbar */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Media query for collapsed navbar on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}