<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="soups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Soups
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="soups-link">
                <a href="{% url 'products' %}?category=Soup" class="dropdown-item">Soups</a>
                <a href="{% url 'products' %}?category=Stews" class="dropdown-item">Stews</a>
                <a href="{% url 'products' %}?category=Broth" class="dropdown-item">Broth</a>
                <a href="{% url 'products' %}?category=Hotpot" class="dropdown-item">Hotpot</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
        </li>
    </ul>
</div>
